DATABASE_URL="postgresql://postgres:postgres@localhost:5432/Dreamly?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
OPENAI_API_KEY=""
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
